.weekly {
  width: 1145px;
  margin: -150px auto 100px auto;
  background: transparent !important;
  .weeksSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
    .week {
      width: 217px;
      height: 505px;
      background: #1d1d1d;
      border-radius: 10px;
      text-align: center;
      padding: 0 16px 16px 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 68px;
        letter-spacing: 0.05em;
        color: #eee;
      }
      .weekInfo {
        height: 420px;
        background: #121212;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div {
          height: 24%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h4 {
            font-weight: 800;
            font-size: 30px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #eee;
            margin-bottom: 15px;
          }
          p {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #909090;
          }
        }
        .line {
          display: block;
          width: 157px;
          height: 2px;
          margin: auto;
          background: linear-gradient(
            270deg,
            #121212 0%,
            #909090 53.57%,
            #121212 101.91%
          );
        }
      }
      &:nth-of-type(3) {
        background: rgba(0, 255, 240, 0.885839);
        box-shadow: 0px 0px 20px 2px rgba(0, 255, 240, 0.885839);
        border-radius: 10px;
        height: 565px;
        h3 {
          color: #000;
        }
        h4 {
          color: #00fff0 !important;
        }
      }
      &:nth-of-type(4),
      &:nth-of-type(5) {
        h3,
        h4 {
          color: #aaa !important;
        }
      }
    }
  }
}
